*{
    margin: 0;
    padding: 0;
}

body {
    background: url(IMAGE/image.png);
    background-position: center;
    height: 100vh;
    background-size: cover;
    font-family: "inter";
    height: 100vh;
    
}  

.menu {
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
    
}

.menu ul  {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    display: block;
    padding: 20px;
}

.bacc {
    height: 500px;
}

.welcome {
    color: beige;
    position: absolute;
    top: 0;
    transform: translateY(+100%);
    left: 0;
    right: 0;
    text-align: center
    
}
